.profile {
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 2px rgba(74, 95, 140, 0.35);
}

.description {
  padding: 72px 0 36px;
  width: 360px;
  min-height: 320px;
  text-align: center;
  color: var(--mid-text-color);
  background-color: var(--light-back-color);
}

.avatar {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  margin: 25px auto 0;
  color: var(--dark-text-color);
  font-size: 24px;
  font-weight: 700;
}

.tag,
.location {
  margin: 16px 0 0;
  color: var(--mid-text-color);
  font-size: 16px;
  font-weight: 400;
}

.stats {
  display: flex;
  flex-wrap: nowrap;
  justify-content: baseline;
  align-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.stats > li {
  display: block;
  width: 120px;
  background-color: var(--lightgray-back-color);
  padding: 25px;
  border-top: 1px var(--mid-back-color) solid;
}

.stats > li:not(:last-child) {
  border-right: 1px var(--mid-back-color) solid;
}

.label,
.quantity {
  display: block;
  font-size: 16px;
  text-align: center;
}

.label {
  color: var(--mid-text-color);
}

.quantity {
  font-weight: 700;
  color: var(--dark-text-color);
}
